@keyframes animate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    font-family: 'Poppins', serif;
}

.header {
    height: 3rem;
    width: 100%;
    background-color: rgb(236, 244, 255);
    display: flex;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 4rem;
}

.header-text {
    margin: 0;
}

a,
a:hover {
    text-decoration: none;
    margin: 0;
}

li {
    margin-top: -1px;
}

li:hover {
    background-color: #007bff;
    color: white;
}

.list-group-item:last-child {
    border-radius: 0;
}

ul a:first-child > .list-group-item {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

ul a:last-child > .list-group-item {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

p,
a,
small {
    animation: animate 0.5s ease;
}
